.banner-content {
  margin: 20px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.main-details-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .description-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
} */
.subheader-style {
  font-size: medium;
  font-weight: 600;
}
.percentage-style {
  font-size: x-large;
  color: #007bff;
  font-weight: 700;
}
.headline-style {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}
.btn-style {
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  background-color: #007bff;
  color: white;
}
.image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.image-style{
height: 100%;
}
