.banner-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.main-details-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subheader-style {
  font-size: medium;
  font-weight: 600;
  line-height: 0;
}
.percentage-style {
  font-size: x-large;
  color: #007bff;
  font-weight: 700;
}
.headline-style {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.5;
}
.fashion-style {
  color: #007bff;
}
.btn-style {
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  background-color: #007bff;
  color: white;
  font-weight: 700;
}
.image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.image-style {
  height: 100%;
}
/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .banner-content {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
  }
  .percentage-style {
    font-size: 14px;
    color: #007bff;
    font-weight: 700;
  }
  .headline-style {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
  }
  .btn-style {
    border-radius: 3px;
    padding: 5px 2px;
    font-size: 14px;
  }
  .image-container {
    height: 200px;
  }
}
