.offers-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}
.offer-container-1 {
  position: relative;
  height: 200px;
  background-color: #8ab9ec64;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 0;
  overflow: hidden;
}
.offer-container-2 {
  position: relative;
  height: 200px;
  background-color: #e0ee8252;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 0;
  overflow: hidden;
}
.offer-container-3 {
  position: relative;
  height: 200px;
  background-color: #f19b8d70;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 0;
  overflow: hidden;
}

.offer-container-1::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -50px;
  width: calc(30%);
  height: calc(40%);
  border: 20px solid #0678f1d0;
  border-radius: 50%;
  z-index: -100;
}
.offer-container-2::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -50px;
  width: calc(30%);
  height: calc(40%);
  border: 20px solid #a7a402;
  border-radius: 50%;
  z-index: -100;
}
.offer-container-3::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -50px;
  width: calc(30%);
  height: calc(40%);
  border: 20px solid #f82302;
  border-radius: 50%;
  z-index: -100;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.name-style {
  line-height: 0;
  font-weight: 300;
  font-size: 15px;
}
.headline-style {
  line-height: 0px;
  font-weight: bold;
  font-size: 25px;
}
.btn-style {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: red;
}
.icon-style {
  margin-right: 10px;
}
.btn-label-style {
  font-size: 15px;
}
.image-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}
.image-style {
  width: 160px;
  height: 160px;
}
