.products-container {
  width: 100%;
}
.title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons-container {
  display: flex;
}
.title-style {
  font-size: 20px;
  font-weight: 700;
  color: black;
}
.single-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.product-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.product-container {
  position: relative;
}
.show-percentage {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  z-index: 1;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 5px;
}
.cart-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 1;
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 5px;
}
.cart-item {
  background-color: white;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.cart-item-selected {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(151, 145, 145, 0.12);
  border-radius: 20px;
}
.image-style {
  width: 50%;
  height: 50%;
}
.description-section {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.product-title {
  font-size: 20px;
  font-weight: 700;
  color: black;
  line-height: 0;
}
.rating-stock-style {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.rating-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0px;
}
.price-section {
  display: flex;
  line-height: 0px;
}
.stock-available {
  color: green;
  font-weight: 300;
}
.discounted-price {
  color: #007bff;
  font: 1em sans-serif;
  font-weight: 700;
}
.original-price {
  color: gray;
  font: 1em sans-serif;
  font-weight: 500;
  margin-left: 10px;
  text-decoration-line: line-through;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .product-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 20px;
    gap: 20px;
  }
}
